.wrapper{
    padding: 1.5rem;
    width: 40vw;
    height: 75vh;
    background-color:chocolate;
    overflow-y: scroll;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}
.wrapper::-webkit-scrollbar {
    display:none;
}

h1{
    display: flex;
    justify-content: center;
}